.icons-row{
    display: flex;
    flex-direction: row;
}

   


    @media (max-width: 768px) {
        .icons-row { 
        flex-direction: column;
        align-items: center;
        }
    }



.card { color: red; }
#hero .card { color: blue; }